<div class="flex gap-2 items-center drop-shadow-md">
    <%= image_tag post.author.profile_photo, alt: "Profile photo", class: "w-16 h-16 rounded-full" %>
    <div>
        <p class="text-base font-semibold"><%= "#{post.author.first_name} #{post.author.last_name}" %></p>
        <p class="text-sm text-slate-500"><%= "#{time_ago_in_words(post.created_at)} ago" %></p>
    </div>
</div>