<div class="w-[600px]">
    <%= render "form" %>
    <%= turbo_frame_tag "posts", class: "flex flex-col gap-2 mt-2" do %>
        <%= render @posts %>
    <% end %>
</div>

<%= render "posts/people_region/people_region" %>