<div class="col-start-2">
    <%= render "form" %>
    <div id="posts" class="flex flex-col gap-2 mt-2">
        <%= render @posts %>
    </div>
</div>

<%= render "posts/people_region/people_region" %>